
html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .background {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
  }

  .card-img-top{
    
  }

  #row_info{
    background-color: #5151E5;
  }

  .container{
    max-width: 1100px;
    
  }
  .sub{
    color: aqua;
    
  }
  .blan{
    color: aliceblue;
  }
  .col{
    color: aliceblue;
  }
  .img-fluid{
   width: 1000px;
 justify-content: center;
  }